.hero-section{
    height: 550px;
    padding: 50px 0;
    background-image: linear-gradient(rgba(9, 42, 30, 0.8)), url('./../../../../public/book.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center ;
     display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  
}