@reference "tailwindcss";

.nav-container {
  @apply w-full border-b border-gray-200;
}

/* Desktop nav items */
.nav-links li a,
.nav-icons li {
  @apply relative md:px-1 lg:px-2 py-3 font-semibold flex items-center;
}

/* Hover background */
.nav-links li a:hover {
  background-color: #eff3f3;
}

/* Underline effect */
.nav-links li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 3px;
  background-color: #d1d5db;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.nav-links li a:hover::after {
  opacity: 1;
}

/* Mobile menu */
.mobile-menu
{
  li a {
    @apply block py-2 font-medium;
  }
  }
