@reference "tailwindcss";

.nav-container {
    @apply flex items-center w-full justify-start py-1 px-6 bg-white border-b border-gray-200;
}

.nav-list {
    @apply flex items-center hidden md:flex
}

ul li a {
    font-weight: 600;
      text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.25);
}
.menu{
    max-height: 100%;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
/**
font-family: IBM Plex Sans Arabic;
font-size: 16px;
leading-trim: NONE;
letter-spacing: 0%;
text-align: right;
vertical-align: bottom;
*/