@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

[dir="rtl"] {
    direction: rtl;
}

[dir="ltr"] {
    direction: ltr;
}

html {
    scroll-behavior: smooth;
}

.title {
    font-size: 30px;
    font-weight: 700;
    color: #161616;
}

.subtitle {
    font-size: 18px;
    font-weight: 700;
    color: #1F2A37;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.text {
    font-size: 16px;
    font-weight: 400;
    color: #1F2A37;
}

.btn-text {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.custome-container {
    width: 90%;
    margin: 0 auto;
}